<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="LogFilePath" value="C:\Users\alkarase\OneDrive - Microsoft\Samples\Data\WSOP\HandHistory\alexk002\Tournaments"/>
    <add key="LogFileArchivePath" value="C:\Users\alkarase\OneDrive - Microsoft\Samples\Data\WSOP\HandHistory\alexk002\Tournaments\Archive"/>
    <add key="OutputFile" value="C:\Users\alkarase\Temp\LogParserOutput.txt"/>
    <add key="RefreshAll" value="Y"/>
    <add key="site" value="wsop"/>
  </appSettings>
</configuration>