<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="LogFilePath" value="C:\Users\Alex\OneDrive\PS\HandHistory\CaptAwsme123"/>
    <add key="LogFileArchivePath" value="C:\Users\Alex\OneDrive\PS\HandHistory\CaptAwsme123\Archive"/>
    <add key="OutputFile" value="C:\Users\Alex\Temp\LogParserOutput.txt"/>
    <add key="RefreshAll" value="N"/>
  </appSettings>
</configuration>